/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
/web/bundles/
/web/node_modules/
/uploads/movies/*
!/uploads/movies/.gitkeep
/uploads/previews/*
!/uploads/previews/.gitkeep
/web/dist/js/*
!/web/dist/js/.gitkeep
/web/dist/css/*
!/web/dist/css/.gitkeep
/.vscode/
/nbproject/private/
